/* common style */
 .error-box{
        float:left;
        text-align:center;
        padding-left:180px;
    }
    .input-append .add-on, .input-prepend .add-on
{
height:auto!important;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	height: auto!important;
}

.searchBtn
{
	text-indent:-999px!important;
}

