/* 
    Document   : homebanner
    Created on : Dec 13, 2012, 3:16:20 PM
    Author     : AHKIL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#slidebox_template{position:relative; }
#slidebox_template, #slidebox_template .content{width:400px; height:231px;}
#slidebox_template{overflow:hidden;}
#slidebox_template .container{position:relative; left:0;}
#slidebox_template .content{background:#eee; float:left;}
#slidebox_template .content div{ height:100%; font-family:Verdana, Geneva, sans-serif; font-size:13px;}
#slidebox_template .next, #slidebox_template .previous{position:absolute; z-index:2; display:block; width:21px; height:21px;
									cursor:pointer;
									top:45%!important;
}
#slidebox_template .next{right:0; top:20; margin-right:10px; background:url(./images/slidebox_next.png) no-repeat left top;}
#slidebox_template .next:hover{background:url(./images/slidebox_next_hover.png) no-repeat left top;}
#slidebox_template .previous{margin-left:10px; background:url(./images/slidebox_previous.png) no-repeat left top;}
#slidebox_template .previous:hover{background:url(./images/slidebox_previous_hover.png) no-repeat left top;}
#slidebox_template .thumbs{position:absolute; z-index:2; bottom:10px; right:10px;}
#slidebox_template .thumbs .thumb{display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px; background:url(./images/slidebox_thumb.png); color:#fff;}
#slidebox_template .thumbs .thumb:hover{background:#fff; color:#000;}
#slidebox_template .selected_thumb{background:#fff; color:#000; display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px;}

